<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Product edit</title>
</head>
<body>

<!-- Section-->
<section layout:fragment="body" class="py-5">
    <div class="container">
        <form role="form" method="post" th:action="@{/products/{productId}/edit(productId=${product.id})}" th:object="${product}">
            <input type="hidden" th:field="*{id}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="title">Title</label>
                    <input
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            th:field="*{title}"
                            placeholder="Title">
                    <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                </div>
                <div class="form-group col-md-6">
                    <label for="photoUrl">photo url</label>
                    <input
                            type="text"
                            class="form-control"
                            id="photoUrl"
                            name="photoUrl"
                            th:field="*{photoUrl}"
                            placeholder="Photo Url">
                </div>

                <div class="form-group col-md-6">
                    <label for="platform">platform</label>
                    <input
                            type="text"
                            class="form-control"
                            id="platform"
                            name="platform"
                            th:field="*{platform}"
                            placeholder="Platform">
                </div>

                <div class="form-row mb-3">
                    <div class="form-group col-md-6">
                        <label for="description">Description</label>
                        <input
                                type="text"
                                class="form-control"
                                id="description"
                                name="description"
                                th:field="*{description}"
                                placeholder="Description">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
